<div class="container">
  <div class="row">
    <div class="col container">
      <h1>Projects</h1>

      <a href="/project_view"> <button type="button">View Projects</button> </a>

      <hr></hr>

      <a href="/project_add"> <button type="button">Add New Project</button> </a>

      <hr></hr>

      <a href="/project_update"> <button type="button">Update Project</button> </a>

      <hr></hr>

      <a href="/project_delete"> <button type="button">Delete Project</button> </a>

    </div>
<!------------------------------------------------->
    <div class="col container">
      <h1>Volunteers</h1>

      <a href="/volunteer_view"> <button type="button">View Volunteers</button> </a>

      <hr></hr>

      <a href="/volunteer_add"> <button type="button">Add New Volunteers</button> </a>

      <hr></hr>

      <a href="/volunteer_add"> <button type="button">Assign Volunteers</button> </a>

    </div>
  </div>
</div>
