<div class="container">
  <div class="row">
    <div class="col container">
      <h1>Projects</h1>

      <div class="container">
        <h5>Define a new project here:</h5>
        <form action="/project" method="post">
          <div>
            <label for="title">Enter a new Project title:</label>
            <input id="title" class="form-control" type="text" name="title" pattern="[a-zA-Z\d\s]{1,20}">
          </div>

          <hr></hr>

          <div class="button">
          <button type="button submit" name="button" title="Add a new title to the list!">Create Project</button>
          </div>
        </form>
      </div>

      <hr></hr>

      <div>
        <% if @projects %>
          <ul>
            <% @projects.each do |project| %>
              <li><%= project.fetch('id') %>, <%= project.fetch('title') %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

    </div>
<!------------------------------------------------->
    <div class="col container">
      <h1>Volunteers</h1>

      <a href="/volunteer_view"> <button type="button">View Volunteers</button> </a>

      <hr></hr>

      <a href="/volunteer_add"> <button type="button">Add New Volunteers</button> </a>

      <hr></hr>

      <a href="/volunteer_add"> <button type="button">Assign Volunteers</button> </a>

    </div>
  </div>
</div>
