<div class="container">
  <div class="row">
    <div class="col">
      <h1>Librarians</h1>

      <a href="/book_management"> <button type="button">Book Management</button> </a>

      <br>
      <br>

      <a href="/author_management"> <button type="button">Author Management</button> </a>

      <br>
      <br>

      <a href="/book_search"> <button type="button">Book Search</button> </a>

      <br>
      <br>

      <a href="/patron_management"> <button type="button">Manage Patrons</button> </a>

      <br>
      <br>

      <a href="/overdue"> <button type="button">Overdue Books</button> </a>
    </div>
<!------------------------------------------------->
    <div class="col">
      <h1>Patrons</h1>

      <a href="/checkout"> <button type="button">Checkout Books</button> </a>

      <br>
      <br>

      <a href="/history"> <button type="button">Checkout History</button> </a>
    </div>
  </div>
</div>
