<div class="container">
  <div class="row">
    <div class="col container">
      <h1>Projects</h1>

      <div class="container">
        <h5>The name of the current project is:</h5>
        <p><b>id: </b><%=@current_project.id%></p>
        <p><b>title: </b><%=@current_project.title%></p>

      </div>

      <hr></hr>

      <div>

        <a href="/project_management/<%=@current_project.id%>/project_edit">Edit Project</a>

      </div>

      <hr></hr>

      <a href="/">Index</a>

    </div>
  </div>
</div>
